<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Theater</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<h1>Theater</h1>

<a href="/web/theaters">Back to all theaters</a>

<span th:if="${theater==null}">Theater not found</span>
<span th:unless="${theater==null}">
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Geo</th>
            <th>Theater Id</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${theater.id}"></td>
            <td th:text="${theater.getLocation().address}"></td>
            <td th:text="${theater.getLocation().geo}"></td>
            <td th:text="${theater.theaterId}"></td>
        </tr>
    </table>
</div>

<h2>Schedule</h2>
<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Movie Title</th>
                    <th>Theater ID</th>
                </tr>
            </thead>
            <tr th:each="scheduleVM : ${scheduleVMs}">
                <td th:text="${scheduleVM.schedule.id}"></td>
                <td th:text="${scheduleVM.schedule.date}"></td>
                <td>
                    <a th:href="@{'/web/movie/' + ${scheduleVM.movie.id}}">
                        <th:block th:text="${scheduleVM.movie.title}"></th:block>
                    </a>
                </td>
                <td th:text="${scheduleVM.schedule.theaterId}"></td>
            </tr>
        </table>
    </div>
    <div>
            <br/>
            <button id="toggleButton" class="btn">Toggle Schedule Form</button>
            <form id="displayForm" th:action="@{'/web/theater/createSchedule/' + ${theater.id}}" th:object="${scheduleToCreate}" method="post">

                <input type="hidden" id="theaterId" name="id" th:field="*{theaterId}"/>
                <input type="hidden" id="movieId" name="id" th:field="*{movieId}"/>

                <label for="date">Date</label>
                <input type="text" id="date" name="id" th:field="*{date}"/><br/>

                <input class="inputSubmit" style="margin: 10px auto 10px" type="submit" value="Create"/>
            </form>
    </div>
</div>

<h2>Movie Details</h2>
<div>
    <table>
        <thead>
            <tr>
            </tr>
        </thead>
            <tr>
            </tr>
    </table>
</div>
</span>

<script>
    const toggleButton = document.getElementById('toggleButton');
    const myForm = document.getElementById('displayForm');

    toggleButton.addEventListener('click', function () {
        if (myForm.style.display === 'none') {
            myForm.style.display = 'table'; // Show the table
        } else {
            myForm.style.display = 'none'; // Hide the table
        }
    });
</script>
</body>

</html>