<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<h1>Comment</h1>
<span th:if="${comments==null}">Film not found</span>
<span th:unless="${comments==null}">
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Date</th>
            <th>Name</th>
            <th>Email</th>
            <th>Movie ID</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${comments.id}"></td>
            <td th:text="${comments.text}"></td>
            <td th:text="${comments.date}"></td>
            <td th:text="${comments.name}"></td>
            <td th:text="${comments.email}"></td>
            <td th:text="${comments.movieId}"></td>
        </tr>
    </table>
</div>
</span>
</body>
</html>